<div class="row">
  <div class="project-container">
    <div class="row">
      <div class="project-container-item">
        da
      </div>
      <div class="project-container-item">
        da
      </div>
      <div class="project-container-item">
        da
      </div>
    </div>
    <div class="row">
      <div class="project-container-item">
        da
      </div>
      <div class="project-container-item">
        da
      </div>
      <div class="project-container-item">
        da
      </div>
    </div>
  </div>
  <div class="top-project-container">
    <div class="row">
      <div class="top-project-container-item">
        nu
      </div>
    </div>
    <div class="row">
      <div class="top-project-container-item">
        nu
      </div>
    </div>
  </div>
</div>
