// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.project-container-item{
  @extend .col-sm-3;
  border: 2px solid #000;
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 80px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 80px 10px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 80px 10px rgba(0,0,0,0.5);
  width: 23%;
  margin: 1%;
  .project-description{
    padding: 2% 5%;
    text-align: left;
    height: 150px;
    overflow: hidden;
    h3{
      text-align: center;
    }
  }
  .project-edit-delete{
    padding: 5% 5%;
    .button {
        background-color: #abc;
        border: none;
        border-radius: 1em;
        color: #111;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }
  }
}

.project-container-title{
  @extend .col-md-12;
  *{
    text-align: left;
  }
}
